<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" (click) = "disparaEvento()" class="navbar-toggler pull-left">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand pl-3" href="#">Administrador</a>
        </div>
        <div class="">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>